[Unit]
Description=Deploy the card game when main moves
OnFailure=card-game-update-failed.service

[Service]
Type=oneshot
ExecStart=%h/docker-compose/card-game/deploy/update.sh
